{% block subject %}
Reset Your PM Account Password
{% endblock subject %}

{% block text_body %}
You're receiving this email because you requested a password reset for your PM account.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}/{{ url|safe }}

If you didn't request a password reset, please ignore this email.

Best regards,
Project Management App
{% endblock text_body %}

{% block html_body %}
<p>You're receiving this email because you requested a password reset for your PM account.</p>

<p>Please go to the following page and choose a new password:</p>
<a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">Reset Password</a>

<p>If the link above does not work, copy and paste this URL into your browser:</p>
<p>{{ protocol }}://{{ domain }}/{{ url|safe }}</p>

<p>If you didn't request a password reset, please ignore this email.</p>

<p>Best regards,</p>
<p>Project Management App</p>
{% endblock html_body %}
