files:
  "/tmp/get_ssl_cert.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/bash
      CERT_ARN=$(aws ssm get-parameter --name /pm/production/SSL_CERTIFICATE_ARN --query Parameter.Value --output text --region `curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone | sed 's/[a-z]$//'`)
      echo $CERT_ARN > /tmp/ssl_cert_arn.txt

commands:
  01_get_ssl_cert:
    command: "/tmp/get_ssl_cert.sh"

option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: '`cat /tmp/ssl_cert_arn.txt`'