container_commands:
  01_get_ssl_arn:
    command: |
      # Retrieve the SSL ARN from SSM Parameter Store
      SSL_ARN=$(aws ssm get-parameter --name "/pm/production/SSL_CERTIFICATE_ARN" --query "Parameter.Value" --output text)

      # Write the ARN to an environment file that Elastic Beanstalk will source
      echo "export SSL_CERTIFICATE_ARN=$SSL_ARN" >> /etc/profile.d/ssl_arn.sh
      
      # Verify if the SSL ARN was retrieved successfully by logging the value
      echo "SSL Certificate ARN: $SSL_CERTIFICATE_ARN"

option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: "`/bin/bash -c 'source /etc/profile.d/ssl_arn.sh && echo $SSL_CERTIFICATE_ARN'`"