container_commands:
  01_get_ssl_arn:
    command: |
      # Retrieve the SSL ARN from SSM Parameter Store
      SSL_ARN=$(aws ssm get-parameter --name "/pm/production/SSL_CERTIFICATE_ARN" --query "Parameter.Value" --output text)
      
      # Substitute the retrieved ARN into the Elastic Beanstalk configuration
      sed -i "s/SSLCertificateArn/$SSL_ARN/g" /opt/elasticbeanstalk/config/private/ebextensions/01-secure-listener-alb.config
