option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: 'core.settings.production'
    SECRET_KEY: '{{resolve:ssm:/pm/production/SECRET_KEY}}'
    DEBUG: '{{resolve:ssm:/pm/production/DEBUG}}'
    ALLOWED_HOSTS: '{{resolve:ssm:/pm/production/ALLOWED_HOSTS}}'
    
    DB_NAME: '{{resolve:ssm:/pm/production/DB_NAME}}'
    DB_USER: '{{resolve:ssm:/pm/production/DB_USER}}'
    DB_PASSWORD: '{{resolve:ssm:/pm/production/DB_PASSWORD}}'
    DB_HOST: '{{resolve:ssm:/pm/production/DB_HOST}}'
    DB_PORT: '{{resolve:ssm:/pm/production/DB_PORT}}'

    AWS_SES_REGION_NAME: '{{resolve:ssm:/pm/production/AWS_SES_REGION_NAME}}'
    AWS_SES_ACCESS_KEY: '{{resolve:ssm:/pm/production/AWS_SES_ACCESS_KEY}}'
    AWS_SES_SECRET_KEY: '{{resolve:ssm:/pm/production/AWS_SES_SECRET_KEY}}'

    AWS_S3_REGION_NAME: '{{resolve:ssm:/pm/production/AWS_S3_REGION_NAME}}'
    AWS_STORAGE_BUCKET_NAME: '{{resolve:ssm:/pm/production/AWS_STORAGE_BUCKET_NAME}}'

  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /status